/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body{
    background-color: #b2bec3;
    font-family: 'Nunito', sans-serif;
    margin: 150px;
    font-size: 18px;    
}

.vizitka{
    background: white;
    width: 550px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
    padding: 30px 30px;
    position: relative;
}

img{
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 3px 3px 20px #888888;
    position: absolute;
    left: 475px;
    top: -75px;
    
}

h1{
    color: #d63031;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

a{
    display: inline-block;
    text-decoration: none;

}
.facebook{ 
    background-color: #3b5998;
    border-radius: 5px;
    width: 490px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.twitter {
    background-color: #1da1f2;
    border-radius: 5px;
    width: 490px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 30px;
}

.twitter2 a:hover{
    background-color: #0b7bc1;
}

.face a:hover{
    background-color: #2b406e;
    }


/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/